*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* UTILITIES */


/* CONTENT  */ 

#app{
    width: 30%;
    margin: 0 auto;
    margin-top: 20px;
}

.email{
    margin-bottom: 10px;
}

@media screen and (max-width: 400px) {

    #app{
        width: 75%;
    }
    
}